snippet <sit
	<s:iterator value="${1}">
		${2}
	</s:iterator>
snippet <sprop
	<s:property value="${1}"/>
snippet <sif
	<s:if test="%{${1}}">${2}</s:if>
snippet <inc
	<%@ include file="${1:taglibs.jsp}" %>
